@import url("./HeroSection.css");
@import url("./ProfileSection.css");

.bg_primary_custom_color {
  background: #282828;
}
.bg_white {
  background: white;
}

.height_top_navbar {
  height: 30px;
}

.orange_color {
  color: #c1292a;
}

.light_grey_color {
  color: #545454;
}

.text_gradient {
  background: linear-gradient(96.73deg, #c1292a 27.66%, #d0631a 85.99%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
.letter_spacing {
  letter-spacing: 1px;
}
.letter-spacing-2 {
  letter-spacing: 2px;
}
.padding_container {
  padding-top: 100px;
  padding-bottom: 100px;
}
.black_dots_bg {
  min-height: 600px;
  background: url("../../images/about-us/black_dots_bg.png");
}

.max-width-custom {
  max-width: 900px;
}
.font-size-14 {
  font-size: 14px;
}

.font-size-18 {
  font-size: 18px;
}
.font-size-20 {
  font-size: 20px;
}
.font-size-24 {
  font-size: 24px;
}

.card-group img {
  width: 60px;
  object-fit: contain;
}
.card-group span {
  width: 200px;
}

.card-group {
  background: #282828;
  width: 400px;
  border-radius: 10px;
  padding: 20px;
}

@media only screen and (max-width: 992px) {
  .card-group {
    padding: 2;
  }
}
@media only screen and (max-width: 992px) {
  .card-group span {
    width: unset;
  }
}

.paragraph_width {
  max-width: 420px;
}

.button_w {
  width: auto;
  font-size: 20px;
  padding: 5px;
}

@media only screen and (max-width: 992px) {
  .button_w {
    width: 200px;
    font-size: 12px;
    padding: 5px;
  }
}

@media only screen and (max-width: 992px) {
  .btn_fs {
    font-size: 14px;
    padding: 3;
  }
}

.about_slider img {
  height: 100px;
  width: 100px;
  object-fit: contain;
}
.about_us_slider_width {
  width: 80%;
}
@media only screen and (max-width: 992px) {
  .about_us_slider_width {
    width: 100%;
  }
}

.about_us_slider_width .slick-prev::before {
  color: black;
  margin-left: 3px;
  margin-top: 10px;
}
.about_us_slider_width .slick-next::before {
  color: black;
  margin-left: 3px;
  margin-top: 10px;
}
.about_us_slider_width .slick-arrow {
  margin-top: 0px;
}

.project_gallery .slick-prev::before {
  color: black;
  margin-left: 3px;
  margin-top: 10px;
}
.project_gallery .slick-next::before {
  color: black;
  margin-left: 3px;
  margin-top: 10px;
}
.project_gallery .slick-arrow {
  margin-top: 0px;
}

.drawing_slider .slick-prev::before {
  color: black;
  margin-left: 3px;
  margin-top: 10px;
}
.drawing_slider .slick-next::before {
  color: black;
  margin-left: 3px;
  margin-top: 10px;
}
.drawing_slider .slick-arrow {
  margin-top: 0px;
}

.bg_black {
  background: black;
}

.padding-36 {
  padding: 36px;
}
.max_width_col {
  width: 300px;
}

@media only screen and (max-width: 992px) {
  .max_width_col {
    width: 100%;
  }
}

.email {
  width: 100%;
  background: #979797;
  border-radius: 10px;
  padding: 10px;
}

.links_width_col {
  width: 290px;
}
.links_width {
  width: 140px;
}
.links_width {
  text-decoration: none;
}

.padding-10 {
  padding: 20px;
}

.copy_right_color {
  color: rgba(229, 229, 229, 0.53);
}

.hr_line {
  width: 200px;
}
.header_nav a {
  text-decoration: none;
}

.font_Size_36 {
  font-size: 36px;
}

@media only screen and (max-width: 992px) {
  .font_Size_36 {
    font-size: 28px;
  }
}
